.bg-cream{
    background-color: var(--cream-light);
}
.featured{
    display: flex;
    gap: 1rem;
    padding: 2rem;
    gap: 3rem;
}
.featured .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featured .item h3{
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 300;
}
.featured .item img{
    flex:1;
    width: 100%;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}
.featured-title{
    text-align: center;
    padding: 3rem;
    font-size: 4rem;
    font-weight: 350;
    color: var(--text-color-header);
}
@media (max-width: 800px) {
    .featured{
        flex-direction: column;
    }
    .featured .item h3{
        font-size:
         1.5rem;   
    }
    .featured-title{
        font-weight: 200;
        font-size: 3rem;
    }
}